################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ExpressionToSql/v15
/ExpresionToSql.common.test/bin/Debug/netcoreapp2.2
/ExpresionToSql.common.test/obj
/ExpressionToSql/bin/Debug/netstandard2.0
/ExpressionToSql/obj
/ExpressionToSQL.common/bin/Debug/netstandard2.0
/ExpressionToSQL.common/obj
/ExpressionToSql.util/bin/Debug/netstandard2.0
/ExpressionToSql.util/obj
/ExpressionToSql.common.test/bin/Debug/netstandard2.0
/ExpressionToSql.common.test/obj
/ExpressionToSql.sql.test/bin/Debug/netcoreapp2.2
/ExpressionToSql.sql.test/obj/Debug/netcoreapp2.2
/ExpressionToSql.unit.test/bin/Debug/netcoreapp2.2
/ExpressionToSql.unit.test/obj
/ExpressionToSql.sql.test/obj
/ExpressionToSql.sql.test/sqlServer/db
/.vs/ExpressionToSql/DesignTimeBuild
